// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logo-header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #D9DADC;
  margin-bottom: 15px;
  height: 100px;
}

.form-link {
  color: green;
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.session-form-input {
  padding: 4.5px;
  text-align: left;
  width: 100%;
  &:focus {
    border: 1px solid #909496;
  }
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
  margin: 15px 0;
}

::placeholder {
  color: #cdcfd3;
}

.session-form-contents .session-link {
  background-color: #00AB42;
  height: 35px;
  width: 210px;
  border-radius: 50px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  padding: 10px 0;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
  line-height: 15px;
  letter-spacing: 2px;
}

.invalid-input {
  border: 1px solid red;
}

.session-error {
  color: red;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
}

.error-header {
  background-color: #FF9A00;
  padding: 15px;
  margin: 20px 0;
  color: white;
  width: 420px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.session-link-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.session-form-contents {
  flex-direction: column;
  width: 33%;
  display: flex;
  align-items: center;
}

.birthday-month-dropdown {
  font-size: inherit;
}
