// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logo-header {
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid gray;
}

.form-link {
  color: green;
}

input {
  padding: 10px;
  text-align: left;
}

.session-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.session-form, .session-link {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.session-form-input {
  margin: 20px 0;
}

.session-form .session-link {
  background-color: #00C24B;
  height: 50px;
  width: 280px;
  border-radius: 50px;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  padding: 10px 0;
  cursor: pointer;
  margin-bottom: 10px;
}


.invalid-input {
  border: 1px solid red;
}

.session-error {
  color: red;
  text-align: left;
  font-family: 'Oswald', sans-serif;
}

.error-header {
  background-color: #FF9A00; // orange
  padding: 15px;
  margin-top: 10px;
  color: white;
}
