// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logo-header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #D9DADC;
  margin-bottom: 15px;
}

.form-link {
  color: green;
  font-family: 'Roboto', sans-serif;
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.session-form-input {
  padding: 8.5px;
  text-align: left;
  width: 100%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 15px 0px;
  background-color: white;
  color: black;
  &:focus {
    border: 1px solid #909496;
  }
}

::placeholder {
  color: #A0A0A0;
}

.session-form-contents .session-link {
  background-color: #00AB42;
  height: 50px;
  width: 210px;
  border-radius: 50px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  line-height: 15px;
  letter-spacing: 2px;
  margin: 10px 0px;
}

.invalid-input {
  border: 1px solid #BD3200;
}

.session-error {
  color: #BD3200;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
}

.error-header {
  background-color: #FF9A00;
  padding: 15px;
  margin: 20px 0;
  color: white;
  width: 100%;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

.session-link-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.session-form-contents {
  flex-direction: column;
  width: 33%;
  display: flex;
  align-items: center;
}

.birthday-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.birthday-inputs-container {
  display: flex;
  justify-content: space-between;
}

#signup-btn {
  width: 100%;
  &:hover {
    background-color: #00E155;
  }
}

.otherFormText {
  font-family: 'Lato', sans-serif;
}

.birthdayDay-input {
  margin: 15px 20px;
}

.birthday-month-dropdown {
  width: 200%;
  border-color: #cdcfd3;
  color: #A6AEB5;
}

#dob-text {
  margin: 10px 0 -10px 0;
  padding: 0;
  color: #A6AEB5;
}

.form-email-header-text {
  font-family: sans-serif;
  letter-spacing: 1.25px;
  font-size: 20px;
  font-weight: 600;
}

#signup-form-element:focus {
  box-shadow: 0 0 5px rgba(80, 155, 245, 1);
  border: 2px solid rgba(81, 155, 245, 1);
}
