$martini: #a9a19f;
$jade: #00c24b;
$spun-pearl: #aaa8af;
$malachite: #00db4d;
$irish-coffee: #683827;
$asphalt: #0b0604;
$biscay: #1e2e66;
$pickled-bean: #6d2c25;
$cod-gray: #121212;
$gray-asparagus: #435444;
$gull-gray: #949cb3;
$mountain-meadow: #1db954;
$mine-shaft: #282828;
$emperor: #535353;
$tundora: #404040;
$sage: #a1a28b;
$silver-chalice: #a0a0a0;
$dusty-gray: #9f9392;
$santas-gray: #9ea4b7;
$gray-chateau: #a6aeb5;
$iron: #d9dadc;
$oslo-gray: #909496;
$fire: #bd3200;
$orange-peel: #ff9a00;
