.album-show-content {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}

.album-show-info {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.album-song-index {
  width: 100%;
  height: 75%;
}

.album-info {
  color: #A9A19F;
  margin: 5px 0;
}

.album-title {
  color: white;
}
