.artist-text {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
}

.artist-show-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-index  ul {
  display: flex;
  flex-direction: row;
  margin: 35px 110px;
}

.artist-index-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  img {
    padding: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }
}
