@import "base/colors.scss";

.dropdown-menu {
  background-color: black;
  width: 200px;
  height: 165px;
  color: $martini;
  position: fixed;
  opacity: 1;
  li {
    color: white;
    margin: 10px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
  }
}
