// html, #root, body, #app, #header {
//   height: 100%;
// }

.greeting-page {
  background-size: 100% 100%;
  height: 900px;
  background-image: linear-gradient(
  rgba(0, 0, 0, 0.65),
  rgba(0, 0, 0, 0.65)
  ), image_url('greeting-background.jpeg');
}

.greeting-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Oswald', sans-serif;
}

.greeting-side {
  display: flex;
  flex-direction: column;
  width: 315px;
  text-align: center;
  justify-content: center;
}

.separator-text {
  text-transform: uppercase;
  padding: 30px 0;
  color: #AAA8AF;
  font-family: 'Mukta Malar', sans-serif;
  letter-spacing: 1.25px;
  width: 315px;
}

.session-link {
  background-color: #00C24B;
  height: 40px;
  width: inherit;
  border-radius: 50px;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  cursor: pointer;
  letter-spacing: 3px;
  line-height: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  letter-spacing: 1.25px;
}

.login-link {
  background-color: white;
  color: black;
}

.logo {
  padding-bottom: 10px;
}

.side-content-text, .greeting-ul {
  color: white;
  font-size: 20px;
  text-align: left;
  font-family: 'Heebo', sans-serif;
}

.side-content-text {
  margin: 40px 0;
  letter-spacing: 1.0px;
}

.greeting-ul {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.greeting-ul li {
  padding: 5px 0;
}

.side-header-text {
  color: #00DB4D;
  font-size: 48px;
  padding-bottom: 15px;
}

.guest-login-link {
  background-color: cornflowerblue;
  border: 0;
  height: inherit;
  width: 315px;
}

.vertical-separator-line {
  border: 1px solid gray;
  height: 500px;
  margin: 0 50px;
}

.separator-text-with-lines {
  display: flex;
  justify-content: space-between;
}

.horizontal-separator-line {
  border: 0.5px solid gray;
  width: 25px;
  height: 0;
  margin-top: 38px;
}
