#main-page {
  width: 100%;
  height: 100%;
}

.albums {
  background-image:
  linear-gradient(
  #683827, #0B0604
  );
}

.tracks {
  background-image: linear-gradient(
  #1E2E66, #0B0604
  );
}

.playlists {
  background-image: linear-gradient(
  #6D2C25, #0B0604
  );
}

.artists, .account {
  background-image: linear-gradient(
  #121212, black
  );
}

.featured {
  background-image: linear-gradient(
  #435444, black
  );
}


.results {
  background-image: linear-gradient(
  #101010, black
  );
}

.add-song-success-msg {
  top: 0;
  position: fixed;
  background-color: green;
  width: 100%;
  color: white;
  height: 50px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  z-index: 1;
  i {
    color: white;
    padding: 0 5px;
  }
  * {
    margin: 15px 0;
  }
}
