@import "base/colors.scss";

#main-page {
  width: 100%;
  height: 100%;
}

.albums {
  background-image: linear-gradient($irish-coffee, $asphalt);
}

.tracks {
  background-image: linear-gradient($biscay, $asphalt);
}

.playlists {
  background-image: linear-gradient($pickled-bean, $asphalt);
}

.artists,
.account {
  background-image: linear-gradient($cod-gray, $asphalt);
}

.featured {
  background-image: linear-gradient($gray-asparagus, $asphalt);
}

.results {
  background-image: linear-gradient($cod-gray, $asphalt);
}

.add-song-success-msg {
  top: 0;
  position: fixed;
  background-color: green;
  width: 100%;
  color: white;
  height: 50px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  z-index: 1;
  i {
    color: white;
    padding: 0 5px;
  }
  * {
    margin: 15px 0;
  }
}
