@import "base/colors.scss";

.nav-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.nav-bar-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.nav-link {
  padding: 20px;
  padding-bottom: 0px;
  a {
    color: $gull-gray;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
  }
}

.new-playlist-link {
  height: 30px;
  width: 140px;
  font-size: 11px;
  cursor: pointer;
  letter-spacing: 2px;
  border: 0;
  line-height: 10px;
  margin: 0 10px;
}

.new-playlist-btn-container {
  position: fixed;
  right: 0;
  padding: 20px 20px 0 0;
}

.active-nav-link:after {
  content: "";
  height: 2px;
  background-color: $mountain-meadow;
  width: 30px;
  position: relative;
  top: 4px;
  display: block;
  margin: 0 auto;
}
