@import "base/colors.scss";

.music-note-container {
  width: 220px;
  height: 220px;
  background-color: $mine-shaft;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.fa-music {
  color: white;
  text-align: center;
}

.gray-text {
  color: $gull-gray;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.delete-playlist-btn {
  margin-left: 100px;
}
