#playing-song {
  bottom: 0;
  width: 100%;
  background-color: #282828;
  height: 110px;
  color: white;
  position: fixed;
}

.playing-song-content {
  display: flex;
  justify-content: space-between;
  height: inherit;
  align-items: center;
  position: relative;
}

.song-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}

i {
  font-size: 40px;
  color: gray;
  line-height: 100px;
}

.song-btns {
  display: flex;
  justify-content: center;
  font-size: 36px;
}

.song-times {
  display: flex;
  justify-content: space-between;

}

.left-song-info, .right-song-info {
  display: flex;
}

.small-img {
  height: 56px;
  width: 56px;
  padding: 0 15px;
}

.left-song-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  h5 a {
    margin: 2px 0;
    color: white;
  }
}

#artist-name-playing {
  color: #A1A28B;
  font-size: 12px;
}

.middle-song-info {
  position: absolute;
  left: calc(50% - 300px);
}

.volume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.volume-slider, .track-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
  height: 4px;
  width: 82px;
  background-color: #404040;
}

.track-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
}

.track-bar-container {
  width: 520px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;;
}

.track-bar, .progress-bar {
  background-color: #404040;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.track-bar {
  margin: 0;
}

.progress-bar {
  background-color: #A0A0A0;
  position: absolute;
  top: 57px;
  left: 34px;
}
