.search-info-text {
  color: white;
  padding: 20px 0;
}

.search-container {
  width: 100%;
  height: 150px;
  border: 0;
  background-color: #282828;
  caret-color: #2ebd54;
  color: #535353;
  font-family: "Lato", sans-serif;
}

.search-info-input-container {
  padding-left: 30px;
}

.search-input-field {
  background-color: #282828;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 48px;
  border: 0;
  color: white;
}
