.song-item {
  color: white;
  font-family: 'Lato';
  margin: 10px 0;
}

.song-item-container {
  display: flex;
  justify-content: space-between;
}

.three-dots {
  margin: 13px 100px 0 0;
  width: 25px;
  display: flex;
  font-size: 6px;
  justify-content: space-between;
}

.hovered-song {
  background-color: rgba(0, 0, 0, 0.5);
}
