.song-item {
  color: white;
  font-family: 'Lato';
  margin: 10px 0;
}

.song-item-container {
  display: flex;
  justify-content: space-between;
}

.three-dots {
  margin-right: 100px;
}

.hovered-song {
  background-color: rgba(0, 0, 0, 0.5);
}
